.short-box
    width 473px
    height 463px
    background rgba(72, 142, 88, 0.702)
    color #FFFFFF
    padding 190px 35px 35px
    box-sizing border-box;
    font-size 19px
    line-height 28px

    &__content {
        margin-bottom 20px
    }
