.box-size
    display inline-block
    vertical-align top
    margin 10px 0 10px 60px

    &:first-child
        margin-left 0

    &_size_medium
        width 536px

    &_size_small
        width 340px
