.blog
    line-height 24px
    width 545px
    float left
    margin-left: 132px

    &__date
        font-size 15px
        line-height 21px
        color #c6c6c6
        padding-bottom: 25px

    &__title
        color #488e58
        text-decoration none

    &__text
        font-size 15px
        color #4c453f
        padding-top 25px
