.min-box
    width 472px
    background-color #FFFFFF
    padding: 32px 50px 50px 38px;
    box-sizing border-box
    display: inline-block;
    margin: 0 32px 0 0;
    position relative
    &:last-child
        margin-right 0

    &__title
        font-style italic
        font-weight 500
        color #4c453f
        margin-bottom 50px

    &__content
        margin-left  70px

    &__text
        color #4c453f
        font-size 15px
        line-height 24px
        margin-bottom 50px
        position relative

        &:before
            content "\201c"
            color #cb5a3d
            font-size 48px
            position absolute
            top 12px
            left -70px


