.main_services
    width 1176px
    margin 0 auto
    margin-top 83px

    &__title
        font-size 22px
        font-weight 500px
        margin-bottom: -90px;

    &__line
        width 70px
        height 3px
        background-color #488e58
        float left
        margin-top 130px
        display inline-block

