.logo-footer
    display inline-block

    &__logo
        width 70px
        height 90px
        margin 0 auto
        background url("./logo_footer.png") no-repeat center center
    &__icon
        width 16px
        height 20px
        margin 0 auto
        background url("./icon_footer.png") no-repeat center center
    &__text
        text-align: center
        padding 25px 0 30px 0
