.article
    background-color #faf5f1
    float left
    width 407px
    padding 100px 40px 45px 37px
    margin-left: 209px

    &__date
        font-size 22px
        color #488e58
        font-weight 500
        margin-top 30px

    &__title
        color #488e58
        line-height 24px
        text-decoration none
        display: block;
        padding-left: 67px;

    &__title:hover
        color #cb5a3d


    &__text
        padding-left: 67px;
        padding-top: 20px;
