.list_template_line
    margin-right 100px
    .list
        &__item
            &:before
                content ""
                display inline-block
                width 22px
                height 1px
                background #cb5a3d
                margin-right 32px
                vertical-align middle
