.list_template_link
    margin-right 5px
    margin-left 24px

    .list

        &__title
            color #FFFFFF
            position relative
            margin 5px 0 17px 0

            &:before
                content ""
                width 2px
                height 5px
                background-color #55af74
                display inline-block
                vertical-align super
                position absolute
                left -24px
                top 4px

        &__link
            color #55af74
            text-decoration none

        //&__box
            //margin-left 24px
