.list_template_link
    margin-right 5px

    .list

        &__title
            color #FFFFFF

            &:before
                content ""
                width 2px
                height 5px
                background-color #55af74
                display inline-block
                vertical-align super
                margin-right 24px

        &__link
            color #55af74
            text-decoration none

        &__box
            margin-left 24px
