.box
    width 1176px
    margin 0 auto
    padding 55px 0 70px 0

    &__title
        font-size: 22px
        font-weight: bold
        margin 10px 0 47px 0
        text-transform uppercase

        &_color_white
            color #fff
        &_size_big
            font-weight 500
            font-size 48px
            line-height 1em
            text-transform none



    &__line
        width: 70px;
        height: 3px;
        background-color: #488e58;

    &__content
        margin-left 200px
