.slider
    height 463px

    &__item_icon_business
        background url("./slide.png") no-repeat center center

    .owl-controls
        width: 1176px
        margin: 0 auto
    .owl-pagination
        float right

    .owl-theme .owl-controls .owl-page span
        border-radius: 0
        background #39945b
