.contact
    padding-top: 17px
    padding-right 28px
    display inline-block

    &_width_min
        padding 0
        margin-bottom 10px

    &__telephone
        font-size 22px
        font-weight 500
        line-height 21px
        color #423d37
        text-decoration none
        display inline-block


        &_color_white
            color #ffffff

    &__call
        font-size 15px
        line-height 21px
        color #39945b
        text-decoration none

