.contact
    float left
    padding-top: 17px
    padding-right 31px
    &__telephone
        font-size 22px
        font-weight 500px
        line-height 21px
        color #423d37
        text-decoration none

        &_color_white
            color #ffffff

    &__call
        font-size 15px
        line-height 21px
        color #39945b

