.box_template_style
    position relative
    padding-bottom 0
    .box
        &__box-title
            position absolute
            top 55px
            left 0

        &__content
            margin-top -55px

