.menu
    background-color #ff3e2c
    display inline-block
    list-style none;
    width 1150px;
    margin 0 auto;
    font-size 15px
    line-height 21px
    padding 30px 0
    margin-bottom: -49px
    position relative
    z-index 100

    &__item
        float left
        display inline-block
        padding-right 130px

    &__link
        text-decoration none;
        display inline-block;
        color #ffffff;

    &__item:before
        content ""
        width 2px
        height 5px
        background-color #ffffff
        display inline-block
        vertical-align super
        margin-right 10px

    &__item:first-child
        padding-left 50px

    &__item:last-child {
        padding-right 0;
    }
