.slider-one
    width 505px
    float right
    display block
    margin-top 140px

    &__slider
        width 375px
        margin-left 70px

.slider-one__slider.owl-theme
    .owl-item
        text-align center
    .owl-controls .owl-buttons
        div
            margin-top -242px
            background none
            border-radius 0
            color #ece7e3
            font 35px/1em "PT Mono"
            &:hover
                color #cb5a3d

        .owl-prev
            float left
            margin-left -52px
        .owl-next
            float right
            margin-right -52px

.slider-one
    &__item
        display inline-block
        text-decoration none
        color inherit
