.comment

    &__title
        font-size 22px
        font-weight 500
        padding-top 68px
        padding-left 67px
        color #000000
        padding-bottom: 45px;
        margin-bottom: -141px;

    &__line
        width 70px
        height 3px
        background-color #488e58
        float left
        display inline-block
        margin-left 67px
        margin-top: 136px;
