.list
    display inline-block
    vertical-align top

    &__title
        font-weight bold
        font-size 22px
        line-height 21px
        color #488e58
        margin 10px 0 25px 0

    &__box
        margin 0
        padding 0
        list-style none

    &__input
        font-family inherit
        background-color #352f29
        border none
        border-bottom 2px solid #4c8d60
        padding-bottom 20px
        padding-top: 15px
        outline none
        width 252px
        color #c6c6c6
        box-sizing border-box
        font-size 15px
        line-height 17px

    &__button
        font-family inherit
        font-size 14px
        line-height 21px
        color #4c8d60
        font-weight 700
        border none
        background-color #352f29
        padding: 0;
        padding-top: 25px
        outline none
        cursor pointer

    &_width_fix
        width 260px
