.description
    background-color #faf5f1
    padding-top 120px
    padding-bottom 74px
    padding-left 100px

    &_box_min
        width 470px
        box-sizing: border-box
        padding-bottom 43px
        display inline-block
