.description
    width 970px
    float: right
    background-color #faf5f1


    &__private_person
        list-style none
        color #488e58
        font-weight 500px
        float left
        margin 0px
        padding 119px 0 76px 105px

    &__item
        line-height 36px
        color #000000

    &__item:before
        content "-  "
        color #ff3e2c

