.about
    width 1176px
    margin 0 auto
    margin-top 80px
    //background url("./line.png") no-repeat left  top

    &__line
        width 70px
        height 3px
        background-color #488e58
        float left
        margin-top 10px

    &__about_info
        width 952px
        float: right


