.search
    float left
    padding-left: 105px;
    padding-right 83px
    &__button
        display inline-block
        background none
        width 57px
        font-size 14px
        line-height 21px
        padding 0px
        border none
        margin-left: -48px;
        color #39945b
        font-family: "Fira Sans Bold"

    &__input
        display inline-block
        width 374px
        border none
        border-bottom 2px solid #39945b
        height 55px

