.link
    text-decoration none
    color inherit
    font-size 14px
    line-height 21px
    font-weight bold
    border-bottom 3px solid #FFFFFF
    display inline-block
    padding-bottom 10px
    margin-top 10px

