.link
    text-decoration none
    color inherit
    font-size 14px
    line-height 21px
    font-weight 700
    border-bottom 3px solid #FFFFFF
    display inline-block
    padding-bottom 10px
    margin-top 10px

    &_color_green
        color #39945b
        border-color #39945b
        &:hover
            color #cb5a3d
            border-color #cb5a3d

    &_position_bottom
        position absolute
        bottom 50px
