.client__wrap.owl-theme
    width 830px

    .owl-item
        text-align center
    .owl-controls .owl-buttons
        div
            margin-top -72px
            background none
            border-radius 0
            color #ece7e3
            font 36px/1em "PT Mono"
            &:hover
                color #cb5a3d

        .owl-prev
            float left
            margin-left -70px
        .owl-next
            float right
            margin-right -70px

.client
    height 82px
    &__item
        display inline-block
        text-decoration none
        color inherit
